#menuPage {
	padding: 0;
	height: 100%;
}

.no-marg {
	margin-left: 0px;
	margin-right: 0px;
}

.rule-card {
	height: 100%;
}

.card { 
	background-color: rgba(245, 245, 245, 0.2); 
}

.lh {
	line-height: 1.8rem;
}

.middle {
	float: none;
	vertical-align: middle;
}

.blur {
	opacity: 0.85;
}

.pointer:hover {
	cursor: pointer;
	color: #4e274a;
}

.enlarge {
	transition: 1.2s ease-in-out;
}

.floating {
	-webkit-animation: float 1.2s infinite alternate;
	-o-animation: float 1.2s infinite alternate;
	animation: float 1.2s infinite alternate;
}

@keyframes float {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
} 