<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116333274-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-116333274-1');
	</script>

	<meta charset="UTF-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1, maximum-scale = 1" />

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/hopscotch.min.css">

	<title>2018 IM Night!</title>
</head>
<body>
	<!-- <div class="jh h5" id="nav-btn" onclick="loadPage('menuPage')">2018 IM Night</div> -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: rgba(248,249,250, 0.6);">
	   	<div class="navbar-brand jh mr-0" id="nav-btn" onclick="loadPage('menuPage')">2018 IM Night</div>
	   	<!-- <div class="navbar-brand"></div> -->
	   	<button id="help-icon"><i class="fas fa-2x fa-question-circle"></i></button>
	   	<button id="bell-icon" style="position: relative;">
	   		<i class="fas fa-2x fa-bell"></i>
	   		<span v-if="remind > 0" id="notify-icon" class="d-flex flex-column justify-content-center">{{ remind }}</span>
	   	</button>
	    <!-- <i class="fas fa-home" style="font-size: 1.6rem"></i> -->
	    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" id="burger-toggler">
	      <span class="navbar-toggler-icon"></span>
	    </button>

	    <div class="collapse navbar-collapse" id="navbarResponsive">
	      	<ul class="navbar-nav navbar-sidenav jh" id="exampleAccordion">
		        <li class="nav-item">
		            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSky" data-parent="#exampleAccordion">
			            <span class="nav-link-text" id="sky-nav">天緣</span>
			            <i class="fa fa-fw fa-angle-down float-right mt-1"></i>
		          	</a>

		          	<ul class="sidenav-second-level collapse" id="collapseSky" data-parent="#exampleAccordion">
			            <li>
			              <a href="#" onclick="loadPage('storyhouse')">IM 故事館</a>
			              <a href="#" onclick="loadPage('course')">課程與學習資源</a>
			            </li>
		          	</ul>
		        </li>

	        	<li class="nav-item">
		            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseLand" data-parent="#exampleAccordion">
			            <span class="nav-link-text" id="land-nav">地緣</span>
			            <i class="fa fa-fw fa-angle-down float-right mt-1"></i>
		          	</a>
		          	<ul class="sidenav-second-level collapse" id="collapseLand" data-parent="#exampleAccordion">
			            <li v-if="loggedIn">
			              <a href="#" onclick="loadPage('couponList')">優惠卷列表</a>
			            </li>
			            <li v-if="loggedIn">
			              <a href="#" onclick="loadPage('shop')">商家列表</a>
			            </li>
			            <li v-if="!loggedIn">
			            	<a>請先登入以瀏覽</a>
			            </li>
		          	</ul>
		        </li>
				
				<li class="nav-item" id="nav-people">
		            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePeople" data-parent="#exampleAccordion">
			            <span class="nav-link-text" id="people-nav">人緣</span>
			            <i class="fa fa-fw fa-angle-down float-right mt-1"></i>
		          	</a>
		          	<ul class="sidenav-second-level collapse" id="collapsePeople" data-parent="#exampleAccordion">
			            <li v-if="loggedIn">
			                <a href="#" onclick="loadPage('IM_people')">資管人</a>
			            </li>
			            <li v-if="loggedIn">
			              	<a href="#" onclick="loadPage('chatroom')">聊天室</a>
			            </li>
			            <li v-if="loggedIn">
			              	<!-- <a href="#" onclick="loadPage('show_intro')">表演介紹</a> -->
			              	<a>表演介紹（即將推出）</a>
			            </li>
			            <li v-if="!loggedIn">
			            	<a>請先登入以瀏覽</a>
			            </li>
		          	</ul>         	
		        </li>
	      	</ul>

	     	<ul class="navbar-nav ml-auto jh">
	        	<li class="nav-item" id="login-text" style="margin-right:100px;">
		          	<a v-if="loggedIn" class="navbar-text">
		            	又見面了，{{ username }}！您目前累積 {{ point }} 點
		        	</a>	        		
	        		<a v-else class="nav-link" href="https://imnight2018backend.ntu.im/allauth/facebook/login/">
		          		您尚未<p class="text-warning d-inline">登入</p>
		          	</a>
		        </li>
	        	<li class="nav-item">
		          	<a class="nav-link" onclick="loadPage('about')">
		            	關於我們
		        	</a>
		        </li>
	        	<li class="nav-item">
		          	<a class="nav-link" onclick="loadPage('contact')">
		            	聯繫我們
		        	</a>
		        </li>
		        <li v-if="loggedIn" class="nav-item">
		          	<a class="nav-link" id="logout-btn" onclick="logout()">
		            	Logout
		        	</a>
		        </li>
	      	</ul>
	    </div>
  	</nav>

	<!-- <div class="lazy" id="content-background" data-src="../img/bgRed.jpg"></div> -->
	<div id="content-background"></div>
	<div class="content-wrapper">
		<div class="container main-content">
		<!-- put content here -->
		</div>
	</div>
	<div id="center-point"></div>

	  <!-- for log in modal -->
	  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="false">
	    <div class="modal-dialog modal-dialog-centered" role="document">
	      <div class="modal-content home-modal">
	        <div class="modal-header">
	          <h5 class="modal-title jh" id="loginModalLabel">提醒</h5>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>
	        <div class="modal-body jh" id="login-text">
	          您還沒登入喔，快來FB登入以享受完整內容！
	        </div>
	        <div class="modal-footer justify-content-center">
	          <a href="https://imnight2018backend.ntu.im/allauth/facebook/login/">
	            <button type="button" class="btn jh" id="fb-btn" style="font-weight: 500">
	              <i class="fab fa-facebook-square fa-2x align-middle"></i>
	              <p class="mb-0 ml-2 align-middle" style="display: inline-block">Sign in with Facebook</p>
	            </button>
	          </a>
	        </div>
	      </div>
	    </div>
	  </div>

	  <!-- for remind modal -->
	  <div class="modal fade" id="remindModal" tabindex="-1" role="dialog" aria-labelledby="remindModalLabel" aria-hidden="false">
	    <div class="modal-dialog modal-dialog-centered" role="document">
	      <div class="modal-content home-modal">

	        <div class="modal-header">
	          <h5 class="modal-title jh" id="remindModalLabel">提醒</h5>
	          <button type="button" class="close" id="remind-close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>

	        <div class="modal-body pb-0" id="remind-body">
	          <h5 v-if="all_performers_drawn" class="jh">
	            恭喜，您已經抽完資管之夜所有表演者囉！
	          </h5>
	          <h5 v-if="!(drawnCard&takenDiscount)" class="jh">
	            您今日尚未 <a v-if="!drawnCard" id="draw-card" data-toggle="modal" data-target="#card-Modal">抽卡</a> 
	            <p v-if="!(drawnCard|takenDiscount)" style="display: inline-block;">及</p>
	            <a v-if="!takenDiscount" id="draw-discount" data-toggle="modal" data-target="#coupon-Modal">領取每日優惠</a>
	          </h5>
	          <h5 v-if="drawnCard & !all_performers_drawn" class="jh">
	            本日已抽卡，快去 <a class="drawn-text" onclick="jumpPage('chatroom')">找卡友聊聊</a>！<br>
	            <!-- 本日已抽卡，快去資管人找卡友聊聊！<br> -->
	          </h5>
	          <h5 v-if="takenDiscount" class="jh">
	            已領取優惠券，前往 <a class="drawn-text" onclick="jumpPage('couponList')">優惠券列表</a>
	            <!-- 本日已抽過優惠券，快去附近商家使用優惠券吧 -->
	          </h5>
	          <hr>
	        </div>

	        <div class="modal-body pt-3">
	          <h5 class="jh">最新消息</h5>
	          <div class="row justify-content-center">
	            <div class="col-10 col-sm-8">
	              <ol class="text-muted" id="news">
	                <!-- ajax get news text -->
	              </ol>
	            </div>
	          </div>  
	        </div>

	      </div>
	    </div>
	  </div>

	  <!-- Card Modal -->
	  <div class="modal fade" id="card-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	      <div class="modal-dialog modal-lg modal-dialog-centered">
	        <div class="modal-content text-center home-modal" id="card">
	          <div class="modal-header">
	            <h3 class="modal-title">您抽到的是...</h3>
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	              <span aria-hidden="true">&times;</span>
	            </button>
	          </div>
	          <div class="modal-body text-center">
	            <div class="row text-center">
	              <div class="col-lg-4">
	                <h2 class="title">{{ title }} {{ name }}</h2>
	                <br>
	                <h4 class="title">負責內容</h4>
	                <h6 class="subtitle">{{ work }}</h6>
	                <br>
	                <h4 class="title">介紹</h4>
	                <h6 class="subtitle">{{ intro }}</h6>
	                <br>
	              </div>
	              <div class="col-lg-8 modal-img">
	                <img :src="img" class="rounded" alt="card-img" style="height:100%;width:100%">
	              </div>
	            </div>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-outline-secondary card-footer-button" onclick="jumpPage('chatroom', '{{ label }}', '{{ name }}')">說聲HI</button>
	            <button type="button" class="btn btn-outline-secondary card-footer-button" onclick="jumpPage('IM_people')">所有資管人</button>
	          </div>
	        </div>
	      </div>
	  </div>
	  
	  <!-- coupon Modal -->
	  <div class="modal fade" id="coupon-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	      <div class="modal-dialog modal-lg modal-dialog-centered">
	        <div class="modal-content home-modal">
	          <div class="modal-header">
	              <h3 class="modal-title jh">恭喜獲得：</h3>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                <span aria-hidden="true">&times;</span>
	              </button>
	            </div>
	            <div class="modal-body">
	          <div class="row text-center" id="coupon">
	            <div class="col-lg-4" id="store-des">
	              <h4 class="title jh font-weight-normal d-inline-block">稀有度：</h4>
	              <h4 class="subtitle jh font-weight-normal d-inline-block" id="rare-text" data-container="body" data-toggle="tooltip" data-placement="top" title="依照優惠券稀有程度，分為普通、稀有、史詩三級">{{ rareness }}</h4>
	              <br><br>
	              <h4 class="title jh font-weight-normal">商店名稱</h4>
	              <h5 class="subtitle jh text-success">{{ name }}</h5>
	              <br>
	              <h4 class="title jh font-weight-normal">優惠卷內容</h4>
	              <h5 class="subtitle jh text-success">{{ content }}</h5>
	              <br>
	              <h4 class="title jh font-weight-normal">使用期限</h4>
	              <h5 class="subtitle jh text-success">即日起至 {{ deadline }}<!-- 2018年02月14號 --></h5>
	              <br>
	            </div>
	            <div class="col-lg-8 modal-img">
	              <img :src="img" class="rounded" alt="coupon-img" style="height:100%;width:100%">
	            </div>
	          </div>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-outline-secondary coupon-footer-button" onclick="jumpPage('shop')">前往商家</button>
	          <button type="button" class="btn btn-outline-secondary coupon-footer-button" onclick="jumpPage('couponList')">前往優惠券列表</button>
	            </div>
	        </div>
	      </div>
	  </div>

	<!-- for egg found modal -->
  	<div class="modal fade" id="eggFoundModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="false">
  	  <div class="modal-dialog modal-dialog-centered" role="document">
  	    <div class="modal-content">
  	      <div class="modal-header">
  	        <h5 class="modal-title jh" id="loginModalLabel">提醒</h5>
  	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  	          <span aria-hidden="true">&times;</span>
  	        </button>
  	      </div>
  	      <div class="modal-body jh" id="login-text">
  	        恭喜您發現彩蛋，獲得20點！
  	      </div>
  	    </div>
  	  </div>
  	</div>
	
	<!-- for jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 	<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
	<!-- for bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- for js scripts -->
	<script src="js/vue.min.js"></script>
	<script src="js/home.js"></script>
	<!-- for font-awesome -->
	<script src="js/fontawesome-all.js"></script>
	<!-- for lazy load -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.6/jquery.lazy.min.js"></script>
    <!-- for jscookie cdn -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<!-- for web socket -->
	<script src="js/reconnecting-websocket.min.js"></script>

	<script src="js/hopscotch.min.js"></script>

</body>
</html>
